@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #00b93e;
    --secondary-color: #a39477;
}

body{
    font-family: 'Poppins', sans-serif;
}