.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .navigator ul {
    display: inline-block;
    justify-content: space-around;
    flex-direction: inherit;
  }
  
  .navigator ul li {
    /* margin: 60px 0; */
    /* margin: 40px 0; */
    color: aqua;
  }

  

  .navigator ul li {
    margin: 6vh;
  }
  
  .navigator ul li:first-child {
    margin-top: 0;
  }
  
  .navigator ul li:last-child {
    margin-bottom: 0;
  }
  
  .navigator ul li a{
    color: white;
    border: solid 2px white;
    width:45px;
    height:45px;
    border-radius: 50%;
    /* background-color: black; */
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navigator::before { /** vertical line */
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    /* background-color: white; */
    background-color: var(--primary-color);
    z-index: 0;
  }
  
  .navigator ul{
    z-index: 1;
  }
  
  .navigator ul li a:hover, 
  .navigator ul li a.active {
    /* color: var(--primary-color);
    background-color: white; */
    color: rgb(5, 5, 5);
    background-color: var(--secondary-color);
  }
  
  .navigator .navigator__icon{
    position: absolute;
    top: -60px;
  }

  .navigator .navigator__back-top{
    position: absolute;
    color: white;
    /* border: solid 2px white; */
    width:30px;
    height:30px;
    border-radius: 50%;
    /* background-color: black; */
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -25px;
  }