/* For all <code> */
code {
    font-family: MyFancyCustomFont, monospace;
    font-size: inherit;
  }
  
  /* Code in text */
  p > code,
  li > code,
  dd > code,
  td > code {
    /* background: #ffeff0; */
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
    
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  /* pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 80%;
    min-width: 100px;
    padding: 0;
  } */